/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TYPO */

/* COMMON */

:root {
    --blue: #0084fd;
    --grey: #5a6e7f;
    --light-blue: #b5ddff;
    --violet: #9792e4;
  }

.white {
    color: white;
}

.blue {
    color: var(--blue);
}

.grey {
    color: var(--grey);
}



/* DEBUG  */

.card {
    height: 22rem;
}




/* HEADER */

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1.5rem 3rem 3rem 3rem;
    background-color: var(--blue);
}

/* FIRST SECTION */

.card {
    background-color: var(--light-blue);
}

.section1 .container {
    padding: 3.125rem 2.1875rem 5rem 2.1875rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center; 
    width: 100%;
}

.section1-top, .section1-bottom {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-bottom: 1.25rem;
    width: 100%;
    
}

/* SECOND SECTION */

.section2 {
    background-color: var(--violet);
}

.section2 .container {
    padding: 3.125rem 2.1875rem 5rem 2.1875rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center; 
    width: 100%;
    gap: 2.5rem;
}

.section2 .container .section2-left {
    height: 990px;
    background-color: white;
    width: 100%;  
}

.section2 .container .section2-right {
    height: 870px;
    background-color: white;
    width: 100%;  
}




/* MEDIA QUERIES */

/* media query tablet */
  @media only screen and (min-width: 768px) {

    /* section 1 */

    .section1 {
        padding-left: 1.875rem;
        padding-right: 1.875rem;
    }
    
    .section1 .container {
        flex-direction: column; /* cards need to be in row in table view with wrap */
        padding-top: 3.125rem;
        padding-bottom: 6.25rem;
        width: 100%;
    }

    .section1-top, .section1-bottom {
        flex-direction: row;
    }

    .section1-top > div:first-child {
         flex-grow: 1;
    }

    .section1-top > div:last-child {
        width: calc((100% / 3) - (2 / 3) * 1.25rem); /*width: (100% / n) - (((n -1) / n) * g); n = columns per row, g = gap */
    }

    .section1-bottom .card {
        width:  calc((100% / 3) - (2 / 3) * 1.25rem);
    }

    /* section 2 */


  }

  /* media query desktop */
  @media only screen and (min-width: 992px) {
    .section1-top, .section1-bottom {
        flex-direction: row;
        max-width: 992px;
    }    
  }