/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TYPO */

/* COMMON */

:root {
    --blue: #0084fd;
    --grey: #5a6e7f;
    --light-blue: #b5ddff;
  }

.white {
    color: white;
}

.blue {
    color: var(--blue);
}

.grey {
    color: var(--grey);
}


/* DEBUG  */

.card {
    height: 22rem;
    width: 22rem;
   
}




/* HEADER */

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1.5rem 3rem 3rem 3rem;
    background-color: var(--blue);
}

/* FIRST SECTION */

.card {
    background-color: var(--light-blue);
}

.section1-container {
    padding-top: 3.125rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center; 
}

.section1-top, .section1-bottom {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}


/* MEDIA QUERIES */

/* media query tablet */
  @media only screen and (min-width: 768px) {
    
    .section1-container {
        gap: 1.25rem;
        flex-direction: row; /* cards need to be in row in table view with wrap */
        flex-wrap: wrap;
        justify-content: center; 
        padding-top: 3.125rem;
    }
    

  }

  /* media query desktop */
  @media only screen and (min-width: 992px) {
    /*your CSS Rules*/     
  }